@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

*{
  transition: all 0.4s;
  font-family: poppins;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

:root {
  --primary-color: #2a292b;
  --secondary-color: #e6dcc6;
}

body {
  color: rgb(var(--foreground-rgb));
}

.middle-scanner {
  position: absolute;
  height: 163px;
  width: 160px;
  z-index: 999;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50%);
}

.panoramic-video{
  width: 360px;
  height: 270px;
  object-fit: cover;
}

@media (max-width: 1140px) {
  .middle-scanner {
    z-index: 999;
    left: 22%;
    top: 35%;
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 910px) {
  .middle-scanner {
    left: 28%;
    top: 35%;
  }
}

@media (max-width: 720px) {
  .middle-scanner {
    left: 42%;
    top: 35%;
  }
}

@media (max-width: 460px) {
  .middle-scanner {
    position: absolute;
    height: 163px;
    width: 160px;
    z-index: 999;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
  }
}

::placeholder, .optionunu, select option:checked{
  font-family: poppins;
}